@media screen and (max-width: 878px) and (min-width: 501px) {
    .container-app {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .chat-list-area {
        width: 100px;
        height: 100vh;
        min-width: 100px;
    }

    .chat-list-area:hover {
        width: 50%;
        min-width: 45%;
    }

    .chat-list-area:hover .top-app {
        display: flex;
        justify-content: space-between;
    }

    .chat-list-area:hover .top-app .circle {
        margin-left: 10px;
    }

    .chat-list-area:hover .text,
    .chat-list-area:hover .time,
    .chat-list-area:hover input,
    .chat-list-area:hover .top-app-right,
    #my-name {
        display: block;
    }

    .chat-list-area:hover .text span:first-child {
        display: block;
    }

    .top-app.you .fa-bars {
        display: block;
        font-size: 2rem;
    }

    .chat-list-area .text,
    .chat-list-area .time,
    .chat-list-area input,
    .chat-list-area .top-app-right,
    #my-name {
        display: none;
    }

    .chat-area {
        width: 100%;
    }

    .top-app.you {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-app.you .circle {
        margin-left: 0;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px) {
    .container-app {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .chat-area {
        width: 100%;
        height: 100%;
    }

    .fa-bars,
    .fa-xmark {
        display: block;
        margin: 15px;
        font-size: 2rem;
    }

    .top-app.you {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text span:first-child {
        display: block;
    }

    .chat-list-area .text,
    .chat-list-area .time,
    .chat-list-area input,
    .chat-list-area .top-app-right,
    .chat-list-area .top-app.you .circle,
    #my-name {
        display: block;
    }

    .chat-list-area-none,
    .top-app.you .fa-bars {
        display: none;
    }

    .chat-list-area-mobile {
        z-index: 999;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: var(--white);
    }

    .messages-chat-area {
        padding: 20px;
    }

    .chat-area .top-app-left .text {
        margin-left: 0;
    }

    .chat-area .top-app-right {
        display: flex;
        justify-content: flex-end;
    }

    .input-msg-chat-area {
        padding: 0 10px;
    }
}
