/* ----------------GENERAL---------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

:root {
    --black: black;
    --white: white;
    --ultra-light-gray: #f3f3f3;
    --light-gray: #e9eaed;
    --dark-gray: #6b7376;
    --light-blue: #6e92aa;
    --send-chat: #d5f9ba;
}

body {
    font-family: "Lato", sans-serif;
    height: 100vh;
    background: rgb(0, 150, 136);
    background: linear-gradient(
        180deg,
        rgba(0, 150, 136, 1) 0%,
        rgba(51, 166, 153, 1) 15%,
        rgba(221, 219, 209, 1) 15%,
        rgba(221, 219, 209, 1) 100%
    );
}

i {
    opacity: 0.5;
    color: var(--dark-gray);
}

i:hover {
    cursor: pointer;
    opacity: 1;
    color: var(--dark-gray);
}

/* ----------------UTILITY---------------- */
.debug {
    background-color: rgba(255, 0, 0, 0.25);
    border: 1px solid var(--black);
}

/* ------------------BODY------------------ */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-app {
    margin: 100px;
    display: flex;
    width: 1300px;
    height: 90%;
    background-color: var(--white);
}

.top-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: var(--light-gray);
}

.fa-bell-slash {
    opacity: 1;
    color: #8edafc;
}

/* ------------------x------------------ */
.chat-list-area {
    width: 40%;
    min-width: 405px;
}

.top-app.you {
    border-right: 2px solid #d9d9d9;
}

.top-app .circle {
    margin-left: 10px;
}

.top-app-left {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.top-app-left span {
    margin-left: 10px;
}

.top-app-right {
    margin-right: 10px;
}

.top-app-right i {
    font-size: 1.2rem;
    padding: 10px;
}

.notifications {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #8edafc;
}

.notifications .circle {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.notifications .text span:first-child {
    font-size: 1rem;
    font-weight: normal;
}

.notifications .text span:last-child {
    cursor: pointer;
    text-decoration: underline;
    color: var(--light-blue);
}

.input-search-area {
    display: flex;
    padding: 5px;
    background-color: var(--ultra-light-gray);
}

.lens {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.input-search-area input {
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-list {
    height: calc(100% - 180px);
    overflow: auto;
}

.chat {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid var(--light-gray);
}

.chat:hover {
    cursor: pointer;
    background-color: var(--ultra-light-gray);
}

.visible-chat {
    background-color: #e9ebeb;
}

.circle {
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.text span:first-child {
    font-weight: bold;
}

.text span:last-child,
.time {
    color: var(--dark-gray);
    font-size: 0.9rem;
}

.time {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

/* ------------------x------------------ */
.chat-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    min-width: 405px;
}

.top-app .text span:last-child {
    color: var(--dark-gray);
    font-weight: normal;
}

.input-msg-chat-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    font-size: 1.5rem;
    background-color: var(--light-gray);
}

.messages-chat-area {
    padding: 50px 70px;
    width: 100%;
    height: calc(100% - 120px);
    overflow: auto;
    background-image: url("../img/mine.jpg");
    background-position: center;
}

.row-msg {
    display: flex;
}

.end {
    justify-content: flex-end;
}

.msg {
    position: relative;
    display: flex;
    word-break: break-all;
    overflow-wrap: break-word;
    align-items: center;
    font-size: 0.9rem;
    margin: 10px;
    padding: 20px 50px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px -8px var(--black);
}

.mine {
    background-color: var(--send-chat);
}

.avatar {
    background-color: var(--white);
}

.fa-chevron-down {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    margin: 5px;
    color: var(--dark-gray);
}

.drop-down {
    visibility: hidden;
    z-index: 999;
    position: absolute;
    top: 20px;
    right: 5px;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0px 0px 18px -8px var(--black);
}

.drop-down p {
    margin: 10px 5px;
    color: var(--dark-gray);
}

.drop-down p:hover {
    cursor: pointer;
    color: var(--black);
}

.msg:hover .drop-down, 
.msg:hover .fa-chevron-down{
    visibility: visible;
}

.msg-date {
    margin: 5px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.7rem;
    color: var(--dark-gray);
}

.input-msg-chat-area input {
    width: 85%;
    height: 65%;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}
